
/* 主内容区 */
.navigation-main-content {
    width: 100%;
    height: calc(90vh - 20%);
    display: flex;
    position: static;
    background: #FCFCE3;
    flex: 1;
    z-index: 1;
    left: 0;
    top: 20%;
}

/* 导航内容区 */
.navigation-content-area {
    flex: 1;
    height: 100%;
    background: #F6BE8C;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    gap: 10px;
    align-content: start;
    overflow-y: auto;
}

/* 侧边栏调整 */
.navigation-sidebar {
    width: 20%;
    height: 100%;
    position: static;
    min-width: 200px;
    left: 0;
    background: #FFDCDC;
    border-radius: 5px;
    overflow-y: auto;
}